<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all ui-sortable">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
    	<%= link_to "Inbox", box_mailboxes_path(:inbox), :remote => true %>
    </li>
    <li class="ui-state-default ui-corner-top">
    	<%= link_to "Outbox", box_mailboxes_path(:outbox), :remote => true %>
    </li>
    <li class="ui-state-default ui-corner-top">
    	<%= link_to "Trash", box_mailboxes_path(:trash), :remote => true %>
    </li>
</ul>