<h2>Mailbox</h2>

<%= render "head" %>

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<%= render :partial => "tabs_panel" %>
    <div id="tabs-messages" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
		<%= render "messages" %>
    </div>      
</div>